<table data-testid="usersTable" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>First name</th>
      <th>Middle name</th>
      <th>Last name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="list.length === 0">
      <td colspan="3" class="text-center no-data">No Data</td>
    </tr>
    <tr data-testid="usersTableRow" *ngFor="let item of list; trackBy: trackByUser">
      <td>{{item.firstName}}</td>
      <td>{{item.middleName}}</td>
      <td>{{item.lastName}}</td>
    </tr>
  </tbody>
</table>
